<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- title tags !-->
    <meta property="og:title" content="MyNotePad" />
    <meta property="og:site_name" content="MyNotePad">
    <meta name="author" content="MyNotePad">
    <meta name="twitter:title" content="MyNotePad">
    
    <!-- description tags !-->
    <meta property="og:description" content="Create, send, and share notes, in a fast, secure, and free way!" />
    
    <meta name="twitter:description" content="Create, send, and share notes, in a fast, secure, and free way!">
    <meta name="description" content="Create, send, and share notes, in a fast, secure, and free way!">
    
    <!-- image tags !-->
    <meta property="og:image" content="https://MyNotePad.ksiscute.repl.co/static/images/banner.png" />
    <meta name="twitter:image" content="https://MyNotePad.ksiscute.repl.co/static/images/banner.png">
    <link href="https://MyNotePad.ksiscute.repl.co/static/images/logo.png" rel="icon" type="image/x-icon">
    
    <!-- other !-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/arr.css">
    
    <!-- other tags !-->
    <meta property="og:url" content="https://MyNotePad.ksiscute.repl.co" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#333333">
    <meta name="twitter:card" content="summary">
    
    <title>Terms Of Service</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/view">View</a>
      <a href="/write">Create</a>
      <a href="/stats">Stats</a>
      <div class="dropdown">
        <button class="dropbtn">Accounts 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/signup">Sign Up</a>
          <a href="/login">Login</a>
          <a href="/settings">Settings</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">Security 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/tos">TOS</a>
          <a href="/privacy">Privacy Policy</a>
        </div>
      </div> 
    </nav>
    <div style=text-align:center>
      <h1>MyNotePad</h1>
      <hr>
    </div>
    <div style="margin: auto;padding: 20px;">
      <h2>Legal Definitions</h2>
      <ul>
        <li>These terms assign our legal rights to each other. Applying toward your use of our services, websites, and products.</li>
        <li>When we say “MyNotes,” “we,” “us,” and “our” in these terms, we mean MyNotePad., its subsidiaries, and its related companies.</li>
        <li>When we say “services” in these terms, we mean MyNotePad’s services, apps, websites, and other products.</p>
        <li>When we say “you” or “your,” we mean you. If you’re accessing our services on behalf of a legal entity (like your employer), you agree that you have the authority to bind that entity to these terms, and “you” and “your” will refer to that entity.</p>
      </ul>
      <section class="faq-container">
        <div class="faq-one">
          <h1 class="faq-page">Note Termination</h1>
          <div class="faq-body">
            <p>A note can be banned and/or terminated if it contains harmful and destructive data. Destructive including private information on a person, promoting harassment onto somebody, or promoting / advertising websites, scams, "get money quick" schemes, or anything on the nose. Bans are non negotiable, unless a note is banned with malicious intent by an admin of the website.</p>
          </div>
        </div>
        <hr class="hr-line">
        <div class="faq-two">
          <h1 class="faq-page"></h1>
          <div class="faq-body">
            <p></p>
          </div>
        </div>
      </section>
    </div>
    <hr>
    <footer>
      <p style="text-align:center">Fun fact! There are a total of {{ total }} notes created!</p>
      <p style="text-align:center;display:inline;">© Copyright Cesiyi / Css | <p id="y" style=display:inline;>2022</p></p>
      <p style="text-align:center">Powered by MongoDB</p>
    </footer>
  </body>
  <script>
    var date=new Date;document.getElementById("y").innerText=date.getFullYear()
  </script>
  <script>
    var faq = document.getElementsByClassName("faq-page");
    var i;
    for (i = 0; i < faq.length; i++) {
        faq[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var body = this.nextElementSibling;
            if (body.style.display === "block") {
                body.style.display = "none";
            } else {
                body.style.display = "block";
            }
        });
    }
  </script>
</html>