<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- title tags !-->
    <meta property="og:title" content="MyNotePad" />
    <meta property="og:site_name" content="MyNotePad">
    <meta name="author" content="MyNotePad">
    <meta name="twitter:title" content="MyNotePad">
    
    <!-- description tags !-->
    <meta property="og:description" content="Create, send, and share notes, in a fast, secure, and free way!" />
    
    <meta name="twitter:description" content="Create, send, and share notes, in a fast, secure, and free way!">
    <meta name="description" content="Create, send, and share notes, in a fast, secure, and free way!">
    
    <!-- image tags !-->
    <meta property="og:image" content="https://MyNotePad.ksiscute.repl.co/static/images/banner.png" />
    <meta name="twitter:image" content="https://MyNotePad.ksiscute.repl.co/static/images/banner.png">
    <link href="https://MyNotePad.ksiscute.repl.co/static/images/logo.png" rel="icon" type="image/x-icon">
    
    <!-- other !-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/arr.css">
    
    <!-- other tags !-->
    <meta property="og:url" content="https://MyNotePad.ksiscute.repl.co" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#333333">
    <meta name="twitter:card" content="summary">
    
    <title>Home</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/view">View</a>
      <a href="/write">Create</a>
      <a href="/stats">Stats</a>
      <div class="dropdown">
        <button class="dropbtn">Accounts 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/signup">Sign Up</a>
          <a href="/login">Login</a>
          <a href="/settings">Settings</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">Security 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/tos">TOS</a>
          <a href="/privacy">Privacy Policy</a>
        </div>
      </div> 
    </nav>
    <div class="formth">
      <h1>Edit your profile</h1>
      <form method=post>
        <input type="submit" value="Save Changes">
        <br>
        <textarea name="bio" cols="50" rows="10" id=bio placeholder="Enter a bio here (Max 500 Characters)"></textarea>
        <br>
        <input type="text" placeholder="Enter a status (Max 100 Characters)" name=status>
      </form>
      <hr>
      <button onclick="window.location.href = 'https://MyNotePad.ksiscute.repl.co/signout'">Sign Out</button>
      <form>
        <input type=text placeholder="New Username" name=newname id=newname>
        <input type=text placeholder="Password" name=password>
        <input type="submit" value="Change Username">
      </form>
    </div>
    <hr>
    <footer>
      <p style="text-align:center">Fun fact! There are a total of {{ total }} notes created!</p>
      <p style="text-align:center;display:inline;">© Copyright Cesiyi / Css | <p id="y" style=display:inline;>2022</p></p>
      <p style="text-align:center">Powered by MongoDB</p>
    </footer>
  </body>
  <script>
    var date=new Date;document.getElementById("y").innerText=date.getFullYear()
    var url = new URL(window.location.href);
    if (window.location.href.includes('?')) {
      var newname = url.searchParams.get("newname");
      var pw = url.searchParams.get("password")
      window.location.href = `https://MyNotePad.ksiscute.repl.co/namechange?newname=${newname}&password=${pw}`
    }
    
    const nu = document.getElementById("newname"); 
    nu.addEventListener("submit", handleSubmit);
    function handleSubmit(e) {
      e.preventDefault();
      const formData = new FormData(e.target);
      const formProps = Object.fromEntries("https://MyNotePad.ksiscute.repl.co/namechange");
    }
  </script>
</html>