<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- title tags !-->
    <meta property="og:title" content="MyNotePad" />
    <meta property="og:site_name" content="MyNotePad">
    <meta name="author" content="MyNotePad">
    <meta name="twitter:title" content="MyNotePad">
    
    <!-- description tags !-->
    <meta property="og:description" content="Create, send, and share notes, in a fast, secure, and free way!" />
    
    <meta name="twitter:description" content="Create, send, and share notes, in a fast, secure, and free way!">
    <meta name="description" content="Create, send, and share notes, in a fast, secure, and free way!">
    
    <!-- image tags !-->
    <meta property="og:image" content="https://MyNotePad.ksiscute.repl.co/static/images/banner.png" />
    <meta name="twitter:image" content="https://MyNotePad.ksiscute.repl.co/static/images/banner.png">
    <link href="https://MyNotePad.ksiscute.repl.co/static/images/logo.png" rel="icon" type="image/x-icon">
    
    <!-- other !-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/arr.css">
    
    <!-- other tags !-->
    <meta property="og:url" content="https://MyNotePad.ksiscute.repl.co" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#333333">
    <meta name="twitter:card" content="summary">
    
    <title>About</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/view">View</a>
      <a href="/write">Create</a>
      <a href="/stats">Stats</a>
      <div class="dropdown">
        <button class="dropbtn">Accounts 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/signup">Sign Up</a>
          <a href="/login">Login</a>
          <a href="/settings">Settings</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">Security 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/tos">TOS</a>
          <a href="/privacy">Privacy Policy</a>
        </div>
      </div> 
    </nav>
    <div class=abt>
      <div class="aboutbox">
        <h1>Hi!</h1>
        <h2>My Name is CSS / Cesiyi</h2>
        <hr>
        <p>I created MyNotePad btw</p>
      </div>
      <br>
      <div class="aboutbox">
        <h1>Socials</h1>
          <div class="socbox">
            <img src="https://janderedev.xyz/svg/revolt.svg" height=24px style="height: 15px;padding-right: 5px;margin-bottom: -2px;">
            <div class="vl"></div>
            <a href="https://app.revolt.chat/invite/CTaQTsFa" target="_blank" style="font-size: 20px;color:white;text-decoration:none;" class=soca>@css</a>
          </div>
          <div class="socbox">
            <img src="https://janderedev.xyz/svg/email.svg" height=24px style="height: 15px;padding-right: 5px;margin-bottom: -2px;">
            <div class="vl"></div>
            <a href="mailto: css@amogus.cloud" target="_blank" style="font-size: 20px;color:white;text-decoration:none;" class=soca>css@amogus.cloud</a>
          </div>
          <div class="socbox">
            <img src="https://janderedev.xyz/svg/misskey.svg" height=24px style="height: 15px;padding-right: 5px;margin-bottom: -2px;">
            <div class="vl"></div>
            <a href="https://miruku.cafe/@css" target="_blank" style="font-size: 20px;color:white;text-decoration:none;" class=soca>@css@miruku.cafe</a>
          </div>
      </div>
    </div>
    <hr>
    <p>svgs from <a href="https://janderedev.xyz" target="_blank" style="color: white;">Jan's epic website</a></p>
    <hr>
    <footer>
      
      <p style="text-align:center;display:inline;">© Copyright Cesiyi / Css | <p id="y" style=display:inline;>2022</p></p>
      <p style="text-align:center">Powered by MongoDB</p>
    </footer>
  </body>
  <script>
    var date=new Date;document.getElementById("y").innerText=date.getFullYear()
  </script>
</html>